.footer {
  background-color: $colorBack;
  position: relative;
}

.footer__content {
  padding: 30px 0 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .logoWrapper {
    width: 125px;

    &+.logoWrapper{
      margin-left: 70px;
    }
  }
}

.copyRight {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: $colorBlack;
  margin-top: 70px;
}
