.footer {
  background-color: $colorBack;
  position: relative;
}

.footer__content {
  padding: 50px 0 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logoWrapper {
  }
}

.copyRight {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: $colorBlack;
  margin-top: 70px;
}
