@media (max-width: 1499px) {
  .container {
    padding: 0 20px;
  }

  .specialQuest {
    &__inner {
      grid-template-columns: 50% 868px;
    }
    
    &__content{
      padding-left: 0;
    }
  }
}
