.grettings {
  width: 100%;

  &__content {
    position: relative;
    text-align: center;
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: $colorBlack;
    display: block;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }

  &__date {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-transform: lowercase;
    color: $colorBlack;
    display: block;
    margin-top: 40px;
  }

  &__btn {
    margin-top: 40px;
  }

  &__picture {
    position: relative;
    padding-top: calc(650 / 1460 * 100%);
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -283px;

    @include before {
      background-color: $colorWhite-a4;
      width: 100%;
      height: 100%;
      pointer-events: none;
      top: 0;
      left: 0;
      z-index: 1;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.program {
  padding: 100px 0;

  .section__title {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
  }

  &__item {
    display: grid;

    &_long {
      grid-column: 1/3;

      .program__item__picture {
        padding-top: calc(400 / 1460 * 100%);

        img {
        }
      }
    }

    &__content {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $colorWhite;
      grid-column: 1/3;
      grid-row: 2/3;
      padding: 20px;
      position: relative;
      z-index: 2;
    }

    &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      color: $colorWhite;

      & + * {
        margin-top: 10px;
      }
    }

    &__picture {
      position: relative;
      padding-top: calc(400 / 705 * 100%);
      grid-column: 1/3;
      grid-row: 1/3;

      @include before {
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(
          360deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        top: 0;
        left: 0;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
    }
  }
}

.registration {
  background-image: url("../img/reg-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  &__form {
    max-width: 853px;
    background-color: $colorWhite-a9;
    padding: 40px;
  }

  &__text {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: 18px;
  }

  .controls {
    margin-top: 18px;
  }

  .section__title {
  }

  .inputWrapper {
    margin-top: 54px;

    .error {
    }
  }

  .controls {
    display: flex;
    justify-content: center;
  }
}
