$fontMain: "Montserrat";

$colorBlack: #000;
$colorBlack-a2: rgba(0, 0, 0, 0.2);
$colorBlack-a4: rgba(0, 0, 0, 0.4);
$colorBlack-a9: rgba(0, 0, 0, 0.9);

$colorWhite: #fff;
$colorWhite-a2: rgba(255, 255, 255, 0.2);
$colorWhite-a4: rgba(255, 255, 255, 0.4);
$colorWhite-a9: rgba(255, 255, 255, 0.9);

$colorRed: #ff0000;
$colorRed-a2: rgba(255, 0, 0, 0.2);

$colorBack: #faf4e4;
$colorBack-a8: rgba(250, 244, 228, 0.8);
$colorBtnHover: #414141;
